body {
}
.row{
    border-style:solid;
    border-color:white;
}
.bg {
    background-color: #FFAAAA;
    height:100%;
}

.img-container{
    height:100%;
    max-height:200px;
}

img{
    height:100% !important;
}
